# Tex tmp or compiled files
*.log
*.aux
*.fmt
*.rip
*.bbl
*.blg
*.lof
*.lot
*.out
*.rel
*.toc
*.bcf
*.xml
*.gz
*.synctex.gz
*~

# AUCTex stuff
*.el
auto/
_region_.prv/
_region_.tex

# Projectile files
.projectile
TAGS
